# {{ ansible_managed }}
# sysctl_d: {{ item.settings|length }}

{% for key, value in item.settings.items()|sort %}
{%   if value is string %}
{{ key }} = {{ value|string }}
{%   elif value is number %}
{{ key }} = {{ value|int }}
{%   else %}
{{ key }} = {{ value }}
{%   endif %}
{% endfor %}
